.App {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
